<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap cdn  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- ChartJs CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Calorie Tracker App</a>
            </div>
        </nav>
        <br>
        <h3>Calorie Goal</h3>
        <br>
        <div class="row mb-4">
            <div class="col-md-9 offset-1">
                <div calss="progress" style="position:relative;">
                    <span style="position:absolute;left:0; margin-top:15px;">0</span>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success text-dark" style="width: 50%"></div>
                    </div>
                    <span style="position:absolute;right:0;">2000 kcal</span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="POST">
                    {% csrf_token %}
                    <div class="d-flex align-items-center mb-2">
                        <div class="col-8">
                            <label for="food_consumed" class="form-label" style="color:blue">Select food to add</label>
                            <select name="food_consumed" id="food_consumed" class="form-select">
                                {% for food in foods %}
                                <option value="{{ food.name }}">{{ food.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4" style="margin-top: 4vh; margin-left:1vh;">
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <h3 style="color:orange;">Today's Consumption</h3>
                </div>

            </div>

            <div class="col-md-6">
                <table class="table" id="table">
                    <thead class="table-info">
                        <tr>
                            <th scope="col">Food</th>
                            <th scope="col">Carbs</th>
                            <th scope="col">Protein</th>
                            <th scope="col">Fats</th>
                            <th scope="col">Calories</th>
                            <th scope="col">Remove Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for consume_object in consumed_food %}
                        <tr>
                            <td>{{ consume_object.food_consumed.name }}</td>
                            <td>{{ consume_object.food_consumed.carbs }}</td>
                            <td>{{ consume_object.food_consumed.protein }}</td>
                            <td>{{ consume_object.food_consumed.fats }}</td>
                            <td>{{ consume_object.food_consumed.calories }}</td>
                            <td style="text-align:center"><a class="btn btn-warning"
                                    href="{% url 'delete' consume_object.id %}" style="border-radius: 100%;">🗑️</a>
                            </td>

                        </tr>
                        {% endfor %}
                        <tr>
                            <td id="name"><b>Total</b></td>
                            <td id="total_carbs"></td>
                            <td id="total_protein"></td>
                            <td id="total_fats"></td>
                            <td id="total_calories"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-5 offset-1">

                <div class="card-header text-white bg-danger">
                    <h3 style="text-align:center">Macronutrient Breakdown</h3>
                </div>

                <div class="col-md-12 d-flex justify-content-center align-items-center" style="width:90%">
                    <canvas id="myChart" width="300" height="300"></canvas>
                </div>
                
            </div>
        </div>
    </div>


</body>
<script>
    var table = document.getElementById("table");
    var carbs = 0, protein = 0, fats = 0, calories = 0;

    for (var i = 1; i < table.rows.length - 1; i++) {
        carbs += parseFloat(table.rows[i].cells[1].innerHTML)
        carbs = Math.round(carbs)

        protein += parseFloat(table.rows[i].cells[2].innerHTML)
        protein = Math.round(protein)

        fats += parseFloat(table.rows[i].cells[3].innerHTML)
        fats = Math.round(fats)

        calories += parseFloat(table.rows[i].cells[4].innerHTML)
        calories = Math.round(calories)

    }
    console.log(carbs);

    document.getElementById("total_carbs").innerHTML = '<b>' + carbs + '(gm)</b>'
    document.getElementById("total_protein").innerHTML = '<b>' + protein + '(gm)</b>'
    document.getElementById("total_fats").innerHTML = '<b>' + fats + '(gm)</b>'
    document.getElementById("total_calories").innerHTML = '<b>' + calories + '(kcal)</b>'

    var calPer = (calories / 2000) * 100;
    document.getElementsByClassName("progress-bar")[0].setAttribute("style", "width:" + calPer + "%");


    // Chart Js functionality

    var total = carbs+protein+fats;
    var carbsP = Math.round((carbs/total)*100);
    var proteinP = Math.round((protein/total)*100);
    var fatsP = Math.round((fats/total)*100);

    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Carbs', 'Proteins', 'Fats'],
            datasets: [{
                label: '%',
                data: [carbsP, proteinP, fatsP],
                borderWidth: 1
            }]
        },
        
    });

</script>

</html>